<a href="https://colab.research.google.com/github/LucMoura/Oficina_CD/blob/main/C%C3%B3pia_de_Exercicios_aula04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro

> A pertir dos conhecimentos adiquiridos ao decorrer de nossas aulas, realize o pré-processamento completo do DataFrame **Titânic**.

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
# Carregar o DataFrame Titanic
df = sns.load_dataset('titanic')

# Etapas

Pré-processamento:
- 1 - Visualização
- 2 - Imputação(Valores Faltando)
- 3 - Tratamento de Textos
- 4 - Normalização/Padronização

## Visualização

In [9]:
# Mostre a cabeça do DataFrame
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [10]:
# Informações gerais sobre o DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [11]:
# Resumo estatístico das colunas numéricas
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [12]:
# Verificar valores ausentes
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

## Imputação

In [13]:
# identificação da coluna 'deck'
df['deck'].value_counts()

deck
C    59
B    47
D    33
E    32
A    15
F    13
G     4
Name: count, dtype: int64

In [14]:
# identificação da coluna 'age'
df['age'].value_counts()

age
24.00    30
22.00    27
18.00    26
19.00    25
28.00    25
         ..
36.50     1
55.50     1
0.92      1
23.50     1
74.00     1
Name: count, Length: 88, dtype: int64

Decisões:
- Média
  - Desvio Padrão
- Moda
- Mediana

- Remoção Total: Remoção de todos os valores faltantes, importante para colunas inuteis.

In [15]:
# Imputação da idade com a mediana
df['age'].fillna(df['age'].median(), inplace=True) # implace diz que você quer alterar
                                                   # o dataframe atual

# Decisão de remover valores faltantes na coluna 'Embark_Town'
df.dropna(subset=['embark_town'], inplace=True)

# Removor colunas redundantes como 'Alive' e 'Class'
df.drop(columns=['embarked', 'class', 'who', 'adult_male', 'deck', 'alive', 'embark_town'], inplace=True)

> As colunas sçao consideradas redundantes pois as mesmas são repetições em formato `string`

- `pclass -> 'class'`
- `sex -> 'who' e 'adult_male'`
- `survived -> 'alive'`

> E por aí vai.

Verificação

In [16]:
# Verifique novamente os valores vazios
df.isnull().sum()

survived    0
pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
alone       0
dtype: int64

In [17]:
# Verifique o tipo das variaveis
df.dtypes

survived      int64
pclass        int64
sex          object
age         float64
sibsp         int64
parch         int64
fare        float64
alone          bool
dtype: object

In [18]:
# Imprima o começo do dataframe
df.head()

   survived  pclass     sex   age  sibsp  parch     fare  alone
0         0       3    male  22.0      1      0   7.2500  False
1         1       1  female  38.0      1      0  71.2833  False
2         1       3  female  26.0      0      0   7.9250   True
3         1       1  female  35.0      1      0  53.1000  False
4         0       3    male  35.0      0      0   8.0500   True

## Lidando com texto

> Categorize os dados das colunas `'sex'` e `'alone`'

In [19]:
df['sex'].replace({'male' : 0, 'female': 1}, inplace=True)

- 0 : Homem
- 1 : Mulher

In [6]:
df['alone'].replace({'False': 0, 'True': 1}, inplace=True)

- 0 : False
- 1 : True

In [7]:
# Mostre o tipo das variaveis do DataFrame para verificação
df.dtypes

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [20]:
# Mostre novamente a cabeça do dataframe
df.head()

   survived  pclass  sex   age  sibsp  parch     fare  alone
0         0       3    0  22.0      1      0   7.2500  False
1         1       1    1  38.0      1      0  71.2833  False
2         1       3    1  26.0      0      0   7.9250   True
3         1       1    1  35.0      1      0  53.1000  False
4         0       3    0  35.0      0      0   8.0500   True

# Exportando o DataFrame

> Agora com o DataFrame já tratado, exporte-o em modelo CSV usando o pandas.

In [21]:
df.to_csv('titanic.csv', index = False)